html, body {
    height: 100%;
    font-family:      Georgia, "Times New Roman", Times, serif;
    font-size:        medium;
    margin:           0px;
}
/*---------------------header part-----------------------*/
header#top_header{
    background-color: black;
    margin: 0px;
    height: 40px;

}
/*left side*/
#LOGO{
    background-color: black;
    position: absolute;
    left: 10px;
    top: 10px;
    text-align: left;
    color: red;
}
/*right side*/
#LOGO_table{
    display: table;
    position: absolute;
    right: 5px;
    top: 5px;
    border-spacing: 5px;
}
#LOGO_white{
    color: #cccccc;
}
#LOGO_row{
    display: table-row;
}

.LOGO_cell{
    display: table-cell;
}
#LOGO_message{

    padding: 3px 5px 0px 5px;
    vertical-align: top;
}
#LOGO_message:hover{
    cursor: pointer;
}
#LOGO_email{

    padding: 0px 15px 0px 5px;
    vertical-align: top;
}
#LOGO_email:hover{
    cursor: pointer;
}
#LOGO_person{

    color: #a9b7b7;
    width: 40px;
    text-align: center;
    font-size: x-small;
    padding: 0px 5px 0px 5px;
    vertical-align: top;
}
#LOGO_person:hover{
    cursor: pointer;
    color: #ecf0f1;
}
#LOGO_menu{

    padding: 0px 5px 0px 5px;
    vertical-align: top;
}
#LOGO_menu:hover{
    cursor: pointer;
}
/*-----------------------navigator part----------------------*/
#navigator{
    background-color: #444444;
    margin: 0px;
    padding: 0px;
    width: 200px;
    margin-bottom:-3000px;
    padding-bottom:3000px;
    text-align: left;
    overflow: hidden;
    float: left;
}
#navi_ul{
    display: table;
    margin: 0px;

    list-style-type: none;
    padding: 0px;

    color: #cccccc;
}

#none{
    display: table-row;
    height: 40px;
    text-align: right;
}
#none_img{
    margin: 5px;
}
#search{
    display: table-row;
    height: 40px;

}

#input_search{
    border: 0px;
    outline: none;
    background: #444444;
    color: #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-left: 10px;
}
#resources{
    display: table;
    horiz-align: left;
    width: 200px;


}

.resources_row{

    display: table-row;
    height: 50px;

}

.resources_cell{

    display: table-cell;
    border-bottom: 1px solid  #cccccc;
    vertical-align: middle;
}

.cell_image{
    width: 40px;
    text-align: center;
}

.cell_word{
    text-align: center;
    width: 150px;
}

.cell_res{
    width: 15px;
}

#DashBoard{
    background-color: red;
}
#DashBoard:hover,#VM1:hover,#VM2:hover,#VM3:hover,#VM4:hover{
    background-color: red;
    cursor: pointer;
}
/*---------------------------------PANEL part------------------------*/
#PANEL{
    margin-left: 200px;
}
#PANEL_outline{
    width: 1050px;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;


}
/*header part*/
#PANEL_header{
    height: 55px;


}

#PANEL_header_word{
    line-height: 55px;
    font-size: xx-large;
    color: #666666;
}

#PANEL_header_word2{
    color: #888888;
}

#PANEL_header_img{
    float: right;
}
/*navigator part*/
#PANEL_navigator{
    width: 1050px;
    padding: 0px;
    margin: 0px;
    height: 25px;
    line-height: 25px;
    background-color: rgb(238,238,238);

    color: #555555;
}
#PANEL_calendar{
    width: 300px;
    float: right;
    background-color:rgb(231,81,81);
    color: white;
}

#PANEL_cal_img{
    margin-left: 5px;
}
/*data table part*/
#PANEL_data{
    width: 1050px;
    height: 470px;
    border-spacing: 10px;

}


.firstrow_cell{
    float: left;
    width: 400px;
    height: 220px;
    margin: 10px 0px 0px 80px;
    color: white;
    border-radius: 10px;

}

#PANEL_VM1{
    background-color: rgb(39,196,227);
}
#PANEL_VM1_up, .panel_up{
    height: 180px;
}
#panel_vm1_word, .panel_word{
    float: right;
    margin: 10px;
    text-align: right;
}
#panel_vm1_bigword, .panel_bigword{
    font-family: Verdana;
    font-size: xx-large;
}
#panel_vm1_smallword, .panel_smallword{

    font-family: Verdana;
    font-size: x-large;
}
#data_vm1_img,#data_vm2_img{
    margin-left: 10px;
}
#panel_vm1_name, .panel_name{
    font-family: Verdana;
    font-size: xx-large;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}
#PANEL_VM1_down, .panel_down{
    height: 40px;
    line-height: 30px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(33,149,201);
}
.panel_downword{

    margin-left: 5px;
}
.data_vm_img{

    float: left;
}
.data_right_img{
    height: 16px;
    float: right;
    margin: 7px 5px 5px 5px;
}
#PANEL_VM2{
    background-color: rgb(40,183,121);
}
#PANEL_VM2_down{
    background-color: rgb(23,166,104);
}


#PANEL_VM3{
    background-color: rgb(133,43,153);
}
#PANEL_VM3_down{
    background-color: rgb(116,29,136);
}

#PANEL_VM4{
    background-color: rgb(255,196,103);
}

#PANEL_VM4_down{
    background-color: rgb(224,167,74);
}
/*-------------------------chart------------------------------------*/
#PANEL_chart{
    display: table;
    width: 1050px;
    border-spacing: 0px 0px;
}
#chart_row{
    display: table-row;
    width: 1050px;
    height: 300px;

}
.secondrow_cell{
    display: table-cell;
    width: 500px;
    padding: 0px;
    height: 300px;

    vertical-align: top;


}
#secondrow_chart1{

    padding-left: 10px;

}
#secondrow_chart2{


    /*border: 1px black dashed;*/

}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.chart1_title{
    font-family: Verdana,sans-serif;
    font-size: 18px;
    text-anchor: middle;
}

.chart1_subtitle{
    font-family: Verdana;
    font-size: 12px;
    text-anchor: middle;
    fill: #666;
}

.chart1_inner_line{
    fill: none;
    stroke:#E7E7E7;
    shape-rendering: crispEdges;
}

/*---------------the command control-----------*/
a,a:hover{color:#FFF;text-decoration:none}


nav ul {

    font-family: Verdana;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}


.nav {

    margin: 0 auto;

}
.nav a {
    display: block;
    padding: 0 10px;
    line-height: inherit;
    cursor: pointer;
}
.nav_menu {
    line-height: 30px;
    text-transform: uppercase;
}
.nav_menu-item {
    display: inline-block;
    position: relative;
}
.nav_menu-item:hover {

}
.nav_menu-item:hover .nav_submenu {
    display: block;
}
.nav_submenu {
    text-transform: none;
    display: none;
    position: absolute;

}
.nav_submenu-item:hover {
    background: rgba(0, 0, 0, 0.1);
}

#nav_submenu_1{

    background-color: rgb(33,149,201);
}
#nav_submenu_2{

    background-color: rgb(23,166,104);
}
#nav_submenu_3{

    background-color: rgb(116,29,136);
}
#nav_submenu_4{

    background-color: rgb(224,167,74);
}
